[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pypdf2 = "*"
sentence-transformers = "*"
chromadb = "*"
litellm = "*"
langchain = "*"
langchain-community = "*"
python-dotenv = "*"
arxiv = "*"
huggingface-hub = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
